<%= form_for @message, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="form-group">
    <%= f.label "Type | SubType", :class => 'control-label' %>
    <div class="controls">
      <%= f.collection_select(:message_sub_type_id, @message_sub_types, :id, :type_and_sub_type_name, {:include_blank => "Please select"}, {:class => 'form-control'})  %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :subject, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :subject, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :body, :class => 'form-control', :rows => 5 %>
    </div>
  </div>
    <div class="form-group">
      <%= f.label :dollar_amt, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :dollar_amt, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :q_transaction_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :q_transaction_id, :class => 'form-control' %>
      </div>
    </div>
    <div class="form-group">
        <%= f.label :user_id, 'Originator', :class => 'control-label' %>
        <div class="controls">
          <%= f.collection_select(:user_id, @users, :id, :full_name, {:include_blank => "Please select"}, {:class => 'form-control'}) %>
        </div>
    </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            messages_path, :class => 'btn btn-default' %>
 
<% end %>
