<%- model_class = DeqResponse -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:response_string) %>:</strong></dt>
  <dd><%= @deq_response.response_string %></dd>
  <dt><strong><%= model_class.human_attribute_name(:resolved_at) %>:</strong></dt>
  <dd><%= @deq_response.resolved_at %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              deq_responses_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_deq_response_path(@deq_response), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              deq_response_path(@deq_response),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
