<div class="list-group">

  <% @messages_array.each do |m| %>
  <!--<a class="list-group-item" href="<%= "/workspace/load_message/#{m['id']}" %>" remote="true" > -->
    <%= link_to load_message_path(m['id']),id:"digest-row-#{ m['id']}", class:"list-group-item pjax #{'active' if m['id'] == @selected_message_hash['id']}",remote:true do %>


    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-3x fa-plane pull-left"></i>
        <h4 class="list-group-item-heading"><%= m['user']['full_name'] %></h4>
        <p class="list-group-item-text"><%= m['message_sub_type']['sub_type_name'] %></p>
      </div>
      <div class="col-sm-6">
        <p class="list-group-item-text"><%= time_ago_in_words(m['created_at'], include_seconds:true) %> ago</p>
        <p class="list-group-item-text"><%= number_to_currency(m['dollar_amt_float']) if m['dollar_amt_float']>=0.01 %></p>
      </div>
    </div>
    <% end %>
  <!--</a>-->
  <% end %>

</div>


