

  <% if @selected_message_hash.nil?  %>
      <p>No messages pending.</p>
  <% else %>

      <div class="panel panel-default">

        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">Message Details</h3>
          <div class="btn-group pull-right visible-xs">
          </div>
        </div>

          <div class="list-group">

            <div class="list-group-item">
              <i class="fa fa-2x fa-plane pull-left"></i>
              <h4 class="list-group-item-heading"><%= @selected_message_hash['user']['full_name'] %></h4>
              <p><%= @selected_message_hash['message_sub_type']['sub_type_name'] %></p>
              <p class="list-group-item-text"><%= time_ago_in_words(@selected_message_hash['created_at'], include_seconds:true) %> ago</p>
            </div>
            <% if @selected_message_hash['dollar_amt_float']>0 %>
                <div class="list-group-item">
                  <label>Amount</label>
                  <h4 class="list-group-item-heading"><%= number_to_currency(@selected_message_hash['dollar_amt_float']) %></h4>
                </div>
            <% end %>

            <% if @selected_message_hash['body'].length >0 %>
                <div class="list-group-item">
                  <label>Comments</label>
                  <p class="list-group-item-heading"><%= @selected_message_hash['body'] %></p>
                </div>
            <% end %>

            <%if @selected_message_hash['message_links'].count > 0 %>
                <div class="list-group-item">
                  <label>Supporting Docs</label>
                  <ul>
                    <% @selected_message_hash['message_links'].each do |ml| %>
                        <li><a href="<%= ml['url'] %>" target="_blank"><%= ml['display_title'] %></a></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

            <% if @selected_message_hash['message_flows'].count > 0 %>
                <div class="list-group-item">
                  <label>Flow History</label>
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Who</th>
                      <th>Resolved</th>
                      <th>Received</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @selected_message_hash['message_flows'].each do |mf| %>
                        <tr class="<%= mf['message_flow_status'] %>">
                          <td><%= mf['flow_order'] %></td>
                          <td><%= mf['user']['full_name'] %></td>
                          <td><%= mf['date_resolved'] if mf['date_resolved'] %></td>
                          <td><%= time_ago_in_words(mf['created_at'], include_seconds:true) %> ago</td>
                        </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
            <% end %>


            <div class="list-group-item">
                <div id='response-choices'>
                  <% @selected_message_hash['message_sub_type']['response_choices'].each do |rc| %>
                      <button class="btn btn-block btn-lg btn-default btn-<%= rc['button_style'] %>"><%= rc['button_title'] %></button></td>
                  <% end %>
                </div>
            </div>

          </div>

        </div>

      <div class="panel panel-default">

        <div class="panel-heading clearfix">
          <h3 class="panel-title pull-left">Debug/Test Params</h3>
          <div class="btn-group pull-right visible-xs">
          </div>
        </div>

        <div class="list-group">
            <div class="list-group-item">
              <label>TransactionId</label>
              <p><%= @selected_message_hash['q_transaction_id'] %></p>
            </div>
        </div>

      </div>



   <% end %>

