<div class="row">
  <div class="col-md-12">
    <ul class="nav nav-tabs visible-md visible-lg">
      <li class="active"><a href="#">Pending <span class="badge"><%= @messages.count %></span></a></li>
      <li><a href="#">Archived <span class="badge">7</span></a></li>
    </ul>
    <div class="hidden-md hidden-lg">
      <button type="button" class="btn btn-default"><< Back to list</button>&nbsp;&nbsp;<span class="badge"><%= @messages.count %></span>
    </div>
  </div>
</div><br/>


<div class="row">
<div class="col-md-8">

  <div class="table-responsive visible-md visible-lg">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>From</th>
        <th>$ Amt</th>
        <th>Received</th>
        <th>Originated</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <% @messages.each do |m| %>
                <tr id="digest-row-<%= m.id %>">
                  <td><%= m.message_sub_type.type_and_sub_type_name %></td>
                  <td><%= m.subject %></td>
                  <td><%= m.user.full_name %></td>
                  <td><%= number_to_currency(m.dollar_amt/100) if m.dollar_amt %></td>
                  <td></td>
                  <td><%= m.date_originated_string %></td>
                  <td><%= link_to 'VIEW',load_message_path(m.id),class:'btn btn-primary',remote:true %></td>
                </tr>
        <% end %>
      </tbody>
    </table>
  </div>



</div>
    <div class="col-md-4">
      <div id='selected-message-detail'>
        <%= render :partial => 'selected_message_detail' %>
      </div>
    </div>
</div>

<% if params[:show_json] == 'show' %>

    <hr/>

    <h3>Selected Message JSON:</h3>
    <div id='selected-message-json-string'>
        <%= render :partial => 'selected_message_json_string' %>
    </div>
    <br/>
    <div id='json-url-form'>
      <%= render :partial => 'json_url_form' %>
    </div>




    <h3>Digest JSON:</h3>
    <div id='message-digest-json-form'>
        <%= render :partial => 'message_digest_json_form' %>
    </div>

<% end %>



