<%- model_class = DeqProcessType -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:processTypeId) %></th>
      <th><%= model_class.human_attribute_name(:message_sub_type_id) %></th>
      <th><%= model_class.human_attribute_name(:originating_transactionId) %></th>
      <th><%= model_class.human_attribute_name(:deq_response_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @deq_process_types.each do |deq_process_type| %>
      <tr>
        <td><%= link_to deq_process_type.id, deq_process_type_path(deq_process_type) %></td>
        <td><%= deq_process_type.processTypeId %></td>
        <td><%= deq_process_type.message_sub_type_id %></td>
        <td><%= deq_process_type.originating_transactionId %></td>
        <td><%= deq_process_type.deq_response_id %></td>
        <td><%=l deq_process_type.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_deq_process_type_path(deq_process_type), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      deq_process_type_path(deq_process_type),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_deq_process_type_path,
            :class => 'btn btn-primary' %>
