<%= form_for(@message_link) do |f| %>
  <% if @message_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_link.errors.count, "error") %> prohibited this message_link from being saved:</h2>

      <ul>
      <% @message_link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message_id %><br />
    <%= f.number_field :message_id %>
  </div>
  <div class="field">
    <%= f.label :display_title %><br />
    <%= f.text_field :display_title %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
