<%= form_for @message_link, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :message_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :message_id, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :display_title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :display_title, :class => 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :url, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :url, :class => 'form-control' %>
    </div>
  </div>

  
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            message_links_path, :class => 'btn btn-default' %>
 
<% end %>
