<%= form_for(@message_sub_type) do |f| %>
  <% if @message_sub_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message_sub_type.errors.count, "error") %> prohibited this message_sub_type from being saved:</h2>

      <ul>
      <% @message_sub_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type_id %><br />
    <%= f.number_field :type_id %>
  </div>
  <div class="field">
    <%= f.label :subtype_name %><br />
    <%= f.text_field :subtype_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
