<h1>Listing message_sub_types</h1>

<table>
  <tr>
    <th>Type</th>
    <th>Subtype name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @message_sub_types.each do |message_sub_type| %>
  <tr>
    <td><%= message_sub_type.type_id %></td>
    <td><%= message_sub_type.subtype_name %></td>
    <td><%= link_to 'Show', message_sub_type %></td>
    <td><%= link_to 'Edit', edit_message_sub_type_path(message_sub_type) %></td>
    <td><%= link_to 'Destroy', message_sub_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message sub type', new_message_sub_type_path %>
