<h1>Listing response_choices</h1>

<table>
  <tr>
    <th>Subtype</th>
    <th>Display order</th>
    <th>Button title</th>
    <th>Button style</th>
    <th>Api string</th>
    <th>Note required</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @response_choices.each do |response_choice| %>
  <tr>
    <td><%= response_choice.subtype_id %></td>
    <td><%= response_choice.display_order %></td>
    <td><%= response_choice.button_title %></td>
    <td><%= response_choice.button_style %></td>
    <td><%= response_choice.api_string %></td>
    <td><%= response_choice.note_required %></td>
    <td><%= link_to 'Show', response_choice %></td>
    <td><%= link_to 'Edit', edit_response_choice_path(response_choice) %></td>
    <td><%= link_to 'Destroy', response_choice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Response choice', new_response_choice_path %>
